<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_kahoot.css">
    <title>Home fds</title>
</head>
<body>
    <section class="flexMinCenter">
        <span class="square"></span>
        <span class="circle"></span>
        <img src="/static/kahooot.svg" height="79px">
        <span class="littleMargin"></span>
        <div class="panel">
            <h2 style="margin-bottom: 16px; width: 100%; text-align: center;">Antes de continuar...</h2>
            <a href="/login" class="wp100"><button class="primaryButton wp100">Entrar com o Gooogle</button></a>
        </div>
        
        <footer class="alignCenter flex columnFlex">
            
            <p>Crie seu próprio kahooot GRATUITAMENTE em <b>kahooot.com</b></p>
            <p style="opacity: 0.3; font-size: 8pt;">Site falso para fins educacionais, <b>nunca envie nenhuma informação pessoal!</b></p>
            <p><a href="">Termos</a> | <a href="">Privacidade</a></p>
            
        </footer>

    </section>
    
</body>
</html>